.form_deg
{
	padding-top: 200px;
	padding-right: 200px;
}

.label_deg
{

	display: inline-block;
	color: skyblue;
	width: 100px;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}
.login_form{
	background-color: cadetblue;
	width: 400px;
	padding-top: 0px;
	padding-bottom: 50px;
	padding-right: 30px;
}
.title_deg
{
	background-color: cadetblue;
	color: lightpink;
	text-align: center;
	font-weight: bold;
	width: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	padding-right: 0px;
	padding-left: 30px;

}
.body_deg
{

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.Welcome
{
	font-weight: bold;
}
