*{

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "poppins";
}
nav{
position: auto;
background-color: skyblue;
height: 50px;
width: 100%;
z-index: 1;

}
.logo
{
font-size: 30px;
position:relative;
left: 5%;
color: white;
font-weight: bold;
line-height: 70px;

}


ul{
	position: up;
	float: right;
	margin-right: 20px;
	

	
}
ul li {
	display: relative;
	line-height: 70px;
	margin: 0 5px;
}
ul li a {
	text-decoration: blink;
	color: white;
	font-size: 20px;
}
.main_img{
	width: 100%;
	height: 300px;
}
.section1{
	padding-top: 50px;
}
.img_text{
	position: absolute;
	top: 10%;
	left: 30%;
	background-color: lightpink;
	padding-right: 20px;
	padding-right: 20px;
	font-size: 35px;

}
.welcome_img{

	width: 100%;
	height: 250px;

}
.container{
	padding: 70px;
}
.teacher{
	width: 90%;
height: 200px
}


}
.label_text{
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 10px;
}
.input_deg{

	width: 30%;
	height: 40px;
	border-radius: 25px;
	border: 1px solid blue;
	bode
}
.adm_int
{
	padding-top: 10px;

}
.input_txt{
	width: 30%;
	height: 120px;
	border-radius: 25px;
	border: 1px;


}
#submit{
	position: relative;
	width: 15%;
	left: 5%;
}
footer
{
	background-color: black;
	height: 70px;
	width: 100%;
}.footer_text{

	text-align: center;
	color: white;
	top: 20%;
	position: relative;
	
}

body{
	background-color: #c9d6ff;
	background: linear-gradient(to right,#e2e2e2,#c9d6ff);
}
